/* =========== TOPBAR =========== */
.row1 {
  background-color: #26206b;
  color: aliceblue;
}

/* =========== NAVBAR =========== */
.navbar-custom,
.navbar-brand,
.navbar-nav,
.navbar-nav a,
.navbar-toggler-icon {
  color: #26206b;
  font-size: large;
  font-weight: bold;
  border: 2px solid transparent;
  /* Add initial transparent border */
  padding: 10px;
  /* Add padding for better visibility */
  transition: color 0.3s ease, border 0.3s ease;
  /* Add smooth transition effect for color and border */
}

.navbar-nav a:hover {
  border-radius: 28%;
  background-color: #9c91bc;
}

.btn-group {
  margin-top: 30px;
}

.dropdown-menu {
  border: 2px solid black;
  width: 400px;
  margin-left: -1rem;
  border-radius: 10px;
}

/* =========== PRODUCT =========== */
.product {
}

/* =========== MAP =========== */
.map {
  width: 100%;
  height: auto;
}


/* =========== FOOTER =========== */
.footer {
  position: relative;
  padding: 30px 0;
  text-align: center;
  background: #26206b;
}

.footer .copyright p {
  color: #999999;
  font-size: 18px;
  font-weight: bold;
}

.footer .copyright p:last-child {
  margin: 0;
}

/* ============================================ */
/* ============== RESPONSIVE ================== */
/* ============================================ */

@media only screen and (max-width: 900px) {
  .navbar-nav a:hover {
    background-color: transparent !important;
  }
}

@media (max-width: 768px) {
  /* Ukuran perangkat seluler kecil */
  .kartu {
    margin-left: 0 !important;
    /* Menghapus margin sebelah kiri */
  }
}
